<div class="container">
    <div class="consult__title consult__left display2">Стоимость коттеджного лифта</div>
</div>
<div class="consult__wrap">
    <div class="container">
        <div class="consult__inner">
            <div class="consult__text consult__left body-text">
                <p>Лифты для коттеджей продаются по разной стоимости. Кроме функционала важное значение имеет производитель.</p>
                <p>Например, коттеджный лифт из Германии и ряда других европейских стран от именитых брендов стоит в пределах от 33000-до 80000 евро. Аналогичные модели, произведенные в Китае, продаются за 25000-45000 долларов США.</p>
                <p>По выгодной стоимости можно приобрести российские лифты, которые производятся отечественными предприятиями по современным технологиям. Качество российской техники не уступает зарубежным аналогам.</p>
            </div>
            <form class="consult__form">
                <fieldset class="fg">
                    <label>Имя</label>
                    <input type="text" placeholder="Имя">
                </fieldset>
                <fieldset class="fg">
                    <label>Телефон *</label>
                    <input type="text" placeholder="Телефон *">
                </fieldset>
                <fieldset class="fg">
                    <label>Комментарий</label>
                    <input type="text" placeholder="Комментарий">
                </fieldset>
                <button class="consult__btn mbtn mbtn-blue">рассчитать стоимость</button>
                <div class="consult__hint">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных *</div>
            </form>
        </div>
    </div>
</div>
