<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <a href="" class="footer__logo">
                <img src="img/logo2.svg" alt="">
            </a>
            <div class="footer__protect">ООО РСУ «Противовес» 2013 - 2022 гг.
                Все права защищены</div>
            <div class="footer__links2">
                <a href="" class="footer__link2">Политика конфиденциальности</a>
                <a href="" class="footer__link2">Карта сайта</a>
            </div>
        </div>
        <div class="footer__center">
            <div class="footer__links">
                <a href="" class="footer__link">О КОМПАНИИ</a>
                <a href="" class="footer__link">ОБОРУДОВАНИЕ</a>
                <a href="" class="footer__link">УСЛУГИ</a>
                <a href="" class="footer__link">СТОИМОСТЬ</a>
                <a href="" class="footer__link">КОНТАКТЫ</a>
            </div>
        </div>
        <div class="footer__right">
            <a href="tel:+74997695156" class="footer__phone">+7 (499) 769-51-56</a>
            <a href="mailto: info@perimeter.ru" class="footer__mail"> info@perimeter.ru</a>
            <button class="footer__btn mbtn mbtn-blue">Обратный звонок</button>
            <div class="footer__socials">
                <a href="" class="footer__socials-item">
                    <img src="img/instagram.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
