<div class="container">
    <div class="info__title display2">Особенности лифтов в доме</div>
    <div class="info__groups">
        <div class="info__group">
            <div class="info__content">
                <div class="info__text body-text">
                    <p>Установка лифта в жилых домах зачастую не требует наличия машинного помещения. Тяговая лебедка размещается в приямке или под плитой перекрытия шахты. Коттеджный лифт прекрасно экономит место и позволяет эффективно планировать интерьер помещения. Пользователи отмечают комфортабельность таких лифтовых механизмов, эксперты говорят о надежности и практичности.</p>
                    <p>Многих владельцев загородных домов прельщает возможность с комфортом подниматься в спальню из холла или опускаться в подвал, что гораздо удобнее и быстрее, чем с применением стандартной лестницы.</p>
                </div>
            </div>
            <div class="info__img">
                <img src="img/info.webp" alt="">
            </div>
        </div>
        <div class="info__group">
            <div class="info__content">
                <div class="info__text body-text">
                    <p>Решение установить недорогой подъемник в частный дом подталкивает быстрота перемещения, а в некоторых случаях необходимость (например, когда в особняке проживает лицо с ограниченными физическими возможностями).</p>
                    <p>Маленький мини лифт – оборудование, представленное нашей специализированной компанией в широком ассортименте. Каждый покупатель имеет возможность подобрать подъемный пассажирский или грузовой механизм с учетом личных потребностей и пожеланий.</p>
                </div>
            </div>
            <div class="info__img">
                <img src="img/info2.webp" alt="">
            </div>
        </div>
    </div>
</div>
